# Basic Console
/BasicConsoleIO/bin
/BasicConsoleIO/obj

# Basic Data Types
/BasicDataTypes/bin
/BasicDataTypes/obj

# Operators
/Operators/bin
/Operators/obj

# Variables
/Variables/bin
/Variables/obj

# Iteration
/Iteration/bin
/Iteration/obj

# DecisionConstructs
/DecisionConstructs/bin
/DecisionConstructs/obj